@tailwind base;
@tailwind components;
@tailwind utilities;

.boxShadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footerimage{
    background-image: url('../assest/final_bg.jpg');
}

.hover\\:underline:hover {
    transition: all 1s ease-in-out;
  }

  /* .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  #carousel img {
    display: block;
    object-fit: contain; 
    max-height: 100%;   
    max-width: 100%;    
  } */
  